*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background-color: transparent;}
button::-moz-focus-inner {padding: 0;border: 0;}
a{color: black;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*!*-----------------------------------------------------*!*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.main{
    overflow: hidden;
    width: 360px;
    height: 640px;
    margin: 0 auto;
    background: url("images/Rectangle.png");
    border: solid #141414 2px;
    border-radius: 30px;
}
.container{
    margin: 0 auto;
    max-width: 340px;
}
.overview{
    width: auto;
    height: 340px;
}
.overview__balance{
    padding: 50px 0 136px 0;
}
.overview__amount{
    font-weight: 700;
    font-size: 40px;
    color: #fbfbfb;
}
.overview__title{
    font-weight: 700;
    font-size: 30px;
    color: #141414;
}
.overview__text{
    font-weight: 700;
    font-size: 12px;
    color: #141414;
}
.overview__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview__item{
    text-align: center;
}
.transactions{
    width: auto;
    height: 300px;
    background-color: #FBFBFB;
    border-radius: 30px 30px 0 0;
}
.transactions__list{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.transactions__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transactions__title{
    font-weight: 700;
    font-size: 24px;
    color: #141414;
}
.transactions__type{
    font-weight: 500;
    font-size: 14px;
    color: #141414;
}
.transactions__suma{
    font-weight: 700;
    font-size: 24px;
    color: #141414;
}
.transactions__date{
    font-weight: 500;
    font-size: 10px;
    color: #141414;
}
.transactions__span{
    text-align: right;
}
/*----------Recharge----------*/
.recharge{

}
.recharge__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto;
    width: 300px;
    height: 200px;
    background-color: #FBFBFB;
    border: 2px solid #141414;
    border-radius: 30px ;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.input__group{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
}
.recharge__label{
    font-weight: 500;
    font-size: 10px;
    color: #141414;
}
.recharge__input{
    padding-left: 10px;
    margin-bottom: 6px;
    background: #e3e3e3;
    border: 1px solid #141414;
    border-radius: 100px;
    width: 260px;
    height: 26px;
}
.recharge__btn{
    margin: 0 auto;
    background: rgba(20, 20, 20, 0.5);
    border: 3px solid #FECA62;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fbfbfb;
    margin-top: auto;
}
/*----------Transaction----------*/
.transaction__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto;
    width: 300px;
    height: 300px;
    background-color: #FBFBFB;
    border: 2px solid #141414;
    border-radius: 30px ;
    padding: 20px;
}
.transaction__label{
    font-weight: 500;
    font-size: 10px;
    color: #141414;
}
.transaction__input{
    padding-left: 10px;
    margin-bottom: 6px;
    background: #e3e3e3;
    border: 1px solid #141414;
    border-radius: 100px;
    width: 260px;
    height: 26px;
}
.transaction__btn{
    margin: 0 auto;
    background: rgba(20, 20, 20, 0.5);
    border: 3px solid #FECA62;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fbfbfb;
    margin-top: auto;
}
/*----------Remove----------*/
.remove__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto;
    width: 300px;
    height: 240px;
    background-color: #FBFBFB;
    border: 2px solid #141414;
    border-radius: 30px ;
    padding: 20px;
}
.remove__label{
    font-weight: 500;
    font-size: 10px;
    color: #141414;
}
.remove__input{
    padding-left: 10px;
    margin-bottom: 6px;
    background: #e3e3e3;
    border: 1px solid #141414;
    border-radius: 100px;
    width: 260px;
    height: 26px;
}
.remove__btn{
    margin: 0 auto;
    background: rgba(20, 20, 20, 0.5);
    border: 3px solid #FECA62;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fbfbfb;
    margin-top: auto;
}


