<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MiniFinanceManager</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="root">
        <main class="main">
            <section class="overview">
                <div class="container">
                    <div class="overview__balance">
                        <p class="overview__amount">120 000 <span>PLN</span></p>
                        <h3 class="overview__title">Saldo konta</h3>
                    </div>
                    <div class="overview__manager">
                        <ul class="overview__list">
                            <li class="overview__item">
                                <a href="../templates/recharge.html">
                                    <img src="../static/images/Group1.svg" alt="#" class="overview__icon">
                                    <p class="overview__text">Doładuj konto</p>
                                </a>
                            </li>
                            <li class="overview__item">
                                <a href="../templates/transaction.html">
                                    <img src="../static/images/Group2.svg" alt="#" class="overview__icon">
                                    <p class="overview__text">Dodaj transakcję</p>
                                </a>
                            </li>
                            <li class="overview__item">
                                <a href="../templates/remove.html">
                                    <img src="../static/images/Group3.svg" alt="#" class="overview__icon">
                                    <p class="overview__text">Usuń transakcję</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="transactions">
                <div class="container">
                    <ul class="transactions__list">
                        <li class="transactions__item">
                            <span>
                                <h4 class="transactions__title">Rozrywka</h4>
                                <p class="transactions__type">expense</p>
                            </span>
                            <span class="transactions__span">
                                <p class="transactions__suma">-1000</p>
                                <p class="transactions__date">2024.11.14</p>
                        </span>
                        </li>
                        <li class="transactions__item">
                            <span>
                                <h4 class="transactions__title">Rozrywka</h4>
                                <p class="transactions__type">expense</p>
                            </span>
                            <span class="transactions__span">
                                <p class="transactions__suma">-1000</p>
                                <p class="transactions__date">2024.11.14</p>
                            </span>
                        </li>
                        <li class="transactions__item">
                            <span>
                                <h4 class="transactions__title">Rozrywka</h4>
                                <p class="transactions__type">expens</p>
                            </span>
                            <span class="transactions__span">
                                <p class="transactions__suma">-1000</p>
                                <p class="transactions__date">2024.11.14</p>
                            </span>
                        </li>
                        <li class="transactions__item">
                            <span>
                                <h4 class="transactions__title">Rozrywka</h4>
                                <p class="transactions__type">expense</p>
                            </span>
                            <span class="transactions__span">
                                <p class="transactions__suma">-1000</p>
                                <p class="transactions__date">2024.11.14</p>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>
</body>
</html>