<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recharge</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="root">
        <main class="main">
            <section class="recharge">
                <div class="container">
                    <div class="recharge__form">
                        <form class="form" action="#">
                            <div class="input__group">
                                <label class="recharge__label">Wpisz kwotę, którą chcesz doładować.</label>
                                <input class="recharge__input" type="number">
                            </div>
                            <button class="recharge__btn">Doładuj</button>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>