<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remove</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="root">
    <main class="main">
        <div class="container">
            <div class="remove__form">
                <form class="form" action="">
                    <div class="input__group">
                        <label class="remove__label">Nazwa.</label>
                        <input class="remove__input" type="text">
                    </div>
                    <div class="input__group">
                        <label class="remove__label">Data.</label>
                        <input class="remove__input" type="date">
                    </div>
                    <button class="remove__btn">Usuń</button>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>